body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    font-family: Arial, sans-serif;
}

.calculator {
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    width: 260px;
    background-color: #ffffff;
}

#display{
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    padding: 5px 4px;
    border: none;
    border-radius: 8px;
    background: #000000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    padding: 15px;
    font-size: 18px;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    background: #ffffff;
    cursor: pointer;
    transition: background 0.1s;
}

button:hover {
    background: #ffffff;
    border-color: rgb(186, 166, 155);
}
    

button:active{
    color: white;
    background: #ffffff;
}