
div{
    background-color: rgb(255, 253, 253);
    color: rgb(68, 207, 87);
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.red-text{
    align-content: center;
    font-size: 200px;
    color: rgb(62, 29, 213);
}
body{
    background-color: rgb(255, 255, 255);
}

.blue-box,
.red-box {
  width: 200px;
  height: 200px;
  margin-left: auto;
    margin-right: auto;
}

.blue-box {
  background-color: blue;
  margin-bottom: 30px;
}

.red-box {
  background-color: red;
}
text{
    text-align: center;
}
   

.green-box{
    background-color: green;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.yellow-box{
    background-color: yellow;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.body{
    background-image: url("https://images.unsplash.com/photo-1631157899275-ae088292e34f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}